<% title 'Users' %>
<% if @users.blank? %>
<h2>No Existing users</h2>
<% else %>
<h2>Matching dates</h2>
<div class="row bump">
  <% @users.each do |c| %>
   <div class="small-12 large-6 columns">
      <div class="row">
         <div class="profile-card">
            <div class="small-12 large-4 columns">
               <a href="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg">
                  <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="profile image"> </a>
            </div>
            <div class="small-12 large-8 columns">
               <h4><%=  c.first_name%>, <%= c.last_name %> <span>President of XPTO</span></h4>
               <p><i> Gender:</i><span> <%=  c.gender %></span></p>
               <p><i> Mail:</i><span> <%=  c.email %></span></p>
               <p><i>Born:</i><%=  c.dob %></p>
               <p><i>preference</i><%=  c.preference %></p>
              <p><i>Location</i><%=  c.home_latitude%>, <%= c.home_longitude %></p>
            </div>
            <div class="row collapse">
               <ul class="button-group columns">
                  <li><%= link_to ('View <span>Interests </span>').html_safe, {:action => 'show', :controller => 'user_interests', :id => c.id}, :class => 'expanded button' -%></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
<% end %>
</div>
<% end %>
