<h1>User details</h1>
<div class="row">
  <div class="medium-6 large-4 columns"><label for = "user_first_name">First name:</label></div>
  <div class="medium-6 large-8 columns"><%=  @user.first_name %></div>
</div>

<div class="row">
  <div class="medium-6 large-4 columns"><label for = "user_last_name">last name:</label></div>
  <div class="medium-6 large-8 columns"><%=  @user.last_name %></div>
</div>

<div class="row">
  <div class="medium-6 large-4 columns"><label for = "user_email">email:</label></div>
  <div class="medium-6 large-8 columns"><%= @user.email %></div>
</div>

<div class="row">
  <div class="medium-6 large-4 columns"><label for = "user_dob">DOB:</label></div>
  <div class="medium-6 large-8 columns"><%= @user.dob%></div>
</div>

<div class="row">
  <div class="medium-6 large-4 columns"><label for = "user_gender">Gender:</label></div>
  <div class="medium-6 large-8 columns"><%=  @user.gender%></div>
</div>
<!--collection_select(:user, :subject_id, @subjects, :id, :name, prompt: true) -->
<div class="row">
  <div class="medium-6 large-4 columns"><label for = "user_preference">Preference:</label></div>
  <div class="medium-6 large-8 columns"><%=  @user.preference%></div>
</div>

<div class="row">
  <div class="medium-6 large-4 columns"><label for = "user_home_latititude">Latitude:</label></div>
  <div class="medium-6 large-8 columns"><%=  @user.home_latitude%></div>
</div>

<div class="row">
  <div class="medium-6 large-4 columns"><label for = "user_home_longitude">Longitude:</label></div>
  <div class="medium-6 large-8 columns"><%=  @user.home_longitude%></div>
</div>
<%= link_to "Add Interest", {:action => 'create_interest', :id => @user.id} %>
<% if @interest_map.empty? %>
  No Interests

<% else %>
 <% @interest_map.each do |category, interests| %>
 <h5><%= category %></h5>
  <ul id = "interests">
    <% interests.each do |interest| %>
     <li><%= interest%></li>
    <% end %>
  </ul>
<% end %>
<% end%>
<%= link_to 'Back', {:action => 'list'} %>
