<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "LetsDate" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div>
        <div class="top-bar">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">DextrousInc</li>
                <li><a href="/">Home</a></li>
                <li><%= link_to 'Users', {:action => 'list', :controller => 'users'} %></li>
                <% if session[:current_user_id] %>
                <li><%= link_to 'Date', {:action => 'date_list', :controller => 'users'} %></li>
                <% end %>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
            <% if session[:current_user] %>
                <li><a>Welcome <%= session[:display_name] %></a></li>
            <% end %>
                <li>
                    <a href="#">Actions</a>
                    <ul class="menu vertical">
                        <% if session[:current_user] %>
                            <li><a href="/my-profile">Profile</a></li>
                            <li><%= link_to 'Logout', {:action => 'logout', :controller => 'users'} %></li>
                        <% else %>
                            <li><%= link_to 'Sign in', {:action => 'login', :controller => 'users'} %></li>
                            <li><%= link_to 'Sign up', {:action => 'new', :controller => 'users'} %></li>
                        <% end %>
                    </ul>
                </li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row main">
        <div class="large-12 columns">
          <%= yield %>
        </div>
    </div>
    <footer>
      <div class="row">
        <div class="medium-6 columns">
          <ul class="menu home-social">
            <li><a href="http://www.twitter.com/M_Rajagopal" class="twitter"></a></li>
            <li><a href="http://www.facebook.com/rajagopa.atech" class="facebook"></a></li>
            <li><a href="mailto:rajagopal.a.dinesh.28@gmail.com" class="mail"></a></li>
          </ul>
        </div>
        <div class="medium-6 columns">
            <ul class="menu float-right">
              <li class="menu-text"><a href="http://bookworms-dextrous.rhcloud.com/#/bookworm/about">About author</a></li>
              <li class="menu-text copyright">© 2016 Dextrous, Inc. All rights reserved.</li>
            </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
